<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!--Razor code to set the text in the header.-->
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> <!--bootstrap styling-->
    <link href="~/css/default.css" rel="stylesheet" /> <!--My Custom Styling-->
</head>
<body>
    <!--shared layout for navbar to be able to navigate between pages-->
    <nav>
        <a asp-controller="Base" asp-action="Index">Home</a>
        <a asp-controller="Base" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <!--Bootstrap js-->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--use jquery to calculate-->
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <!--js function link-->
    <script src="~/js/calcfunc.js"></script>
</body>
</html>
