

/*Include at least one change to the styling using your own CSS file.*/

li {
    list-style-type: none;
}
label{
   font-weight:bold;
    width:120px;
}
input{
    width: 75px;
    text-align:center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 40%;
    text-align: left;
}

.box2 {
    width: 60%;
    text-align: left;
    font-weight: bold;
    color: navy;
    padding-bottom: 200px;
}
h1, h2, h3{
    color:navy;
    font-weight:bold;
}