@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{            ViewData["Title"] = "Kyle Klintworth";
}
<h1>Kyle Klintworth</h1> <!--header listing prefered name-->
<img src="img/KyleRugby.JPG" /> <!--Picture doing something you enjoy-->
<!--paragraph on what i hope to get out of IS 413-->
<h2>My IS 413 Vision: </h2>
<p>
    I hope to gain a comprehensive understanding of the C# programming language and the ability to apply it to develop robust and scalable applications utilizing MVC architecture.
    I look forward to learning best practices for organizing code, separating concerns and improving code maintainability.
    I also hope to develop skills in using tools and technologies such as Visual Studio and Entity Framework, and to build a strong foundation for future growth as a C# developer.
    Ultimately, my goal is to leave this class with the confidence and ability to design, build and deploy successful C# applications using MVC models.
    I believe that this class will equip me with the knowledge and skills to be marketable in the industry as C# is widely used in the development of enterprise applications.
</p>
<!--list of the top three jobs i am interested in pursuing after graduation-->
<h2>Top 3 Jobs: </h2>
<ul>
    <li>1st: Software Engineer</li>
    <li>2nd: Health Care Data Analyst</li>
    <li>3rd: Enterprise Architecture Manager</li>
</ul>